* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: rgb(188, 118, 118);
}

.openModalBtn{
  background-color: #fff;
  color: black;
  font-size: 20px;
  font-weight: 900;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 11px 22px;
  cursor: pointer;
  max-width: fit-content;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.openModalBtn:hover{
  background-color: #c2c0c0;
  font-size: 20.5px;
}

.popUp{
 background-color: white;
 width: 300px;
 max-width: 100vw;
 position: absolute;
 top: 0;
 left: 50%;
 transform: translate(-50%, -50%) scale(0.1);
 transition: all 0.35s ease-in-out;
 padding: 15px;
 border-radius: 15px;
 border: none;
 outline: none;
 text-align: center;
 visibility: hidden;
}

.popup-open{
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
  top: 35%;
}

.popUp img{
  width: 80px;
  height: 80px;
  margin-top: -50px;
  margin-bottom:  10px;
}
.contain{
padding-block: 10px;
font-size: 20px;
font-weight: 400;

}

.closeModalBtn{
  background-color: green;
  color: white;
  padding: 11px 22px;
  max-width: fit-content;
  font-size: 20px;
  font-weight: 700;
  margin: 10px;
  border: none;
  outline: none;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  cursor: pointer;
}

.closeModalBtn:hover{
  background-color:rgb(34, 137, 34);
  font-size: 20.5px;
}


/* These are personal recreations of existing projects, developed by Ashraf Morningstar for learning and skill development. Original project concepts remain the intellectual property of their respective creators.
https://github.com/AshrafMorningstar */