@import "tailwindcss";



html,body{
  height: 100%;
  width: 100%;
}

body{
  background-color: black;
  color:antiquewhite;
}

.box{
  width: 200px;
  height: 200px;
  background-color: crimson;
  border: 5px solid white;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
}

.circle{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 10px solid black;
  background-color: lightgreen;
}

/* These are personal recreations of existing projects, developed by Ashraf Morningstar for learning and skill development. Original project concepts remain the intellectual property of their respective creators.
https://github.com/AshrafMorningstar */