
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body{
    height: 100%;
    width: 100%;
    background-color: #989898;
    color:white;
}

.calculator{
    box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px, rgba(255, 255, 255, 0.3) 0px 30px 60px -30px, rgba(139, 161, 183, 0.35) 0px -2px 6px 0px inset;
}

#display::placeholder{
    color:white;
}

/* These are personal recreations of existing projects, developed by Ashraf Morningstar for learning and skill development. Original project concepts remain the intellectual property of their respective creators.
https://github.com/AshrafMorningstar */